.vscode/**
**/__pycache__
.ipynb_checkpoints/**

append-data/*.csv

daily_pr/cached-html/*.html
daily_pr/parsed-json/*.json

geo/csa/countywide-statistical-areas.geojson
geo/csa/csa-id-polygons.json

geo/geocode/addresses.csv
geo/geocode/geocoderesult.csv

pickled/*.pickle

scratchpad.py
lacph_graphs.ipynb
