.vscode/*
__pycache__/*
.ipynb_checkpoints/*

cached-daily-pr/*.html
cached-daily-pr/.ipynb_checkpoints/*

parsed-daily-pr/*.json
parsed-daily-pr/.ipynb_checkpoints/*

data/lac-population.csv

lacph_graphs.ipynb
*.pickle

.DS_Store
