.vscode/**
**/__pycache__
.ipynb_checkpoints/**

daily_pr/cached-html/*.html
daily_pr/parsed-json/*.json
docs/*.pickle

current_stats/addresses.csv
current_stats/addresses.json
current_stats/geocoderesult.csv

geo/addresses.csv
geo/address-todo.txt
geo/geocoderesult.csv
geo/*.geojson

scratchpad.py
lacph_graphs.ipynb
