[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
pandas = "<1.2"
matplotlib = "*"
seaborn = "*"
plotly = "*"
jupyterlab = "*"
geopandas = "*"
shapely = "*"
geopy = "*"
lxml = "*"
html5lib = "*"

[dev-packages]
pylint = "*"
rope = "*"
ipython = "*"

[requires]
python_version = "3.8"
